body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  
  font-family: cursive;
  font-size: 12px;

  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  size: 3%;

} 
.Jumbo{
 size: 5%;


}