
div {  
    box-sizing: border-box; 
    width: 100%; 
    border: 100px ; 
    float: left; 
    align-content: center; 
    align-items: center; 
} 
form {    
    margin: 0 auto; 
    width: 600px; 
}

div .container{
    background: #bdc3c7;

}